<!DOCTYPE html>
{{define "account"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info</title>
</head>
<body>
<h1>Info</h1>
<ul>
    <li>Username: {{.username}}</li>
</ul>
<form method="post" action="/account/secure">
    <label>
        Change username:
        <input name="username" type="text">
    </label>
    {{.csrfField}}
    <button type="submit">Update</button>
</form>
<form method="post" action="/logout">
    <button type="submit">Log out</button>
</form>
</body>
</html>
{{end}}
